* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  box-sizing: content-box;
}
.nave {
  background-image: url("./puntitos.svg");
  width: 100%;
  height: 86px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-diseño {
  width: 85px;
  height: 74px;
  margin-left: 17px;
}

@media (min-width: 769px) {
  .logo-diseño {
    width: 170px;
    height: 120px;
    margin-left: 70px;
    margin-top: 36px;
  }
}

.menu {
  margin-right: 20px;
}
@media (min-width: 769px) {
  .menu {
    margin-right: 0;
  }
}

.menu-oculto {
  display: none;
}
@media (min-width: 769px) {
  .menu-oculto {
    display: flex;
    justify-content: space-between;
    width: 428px;
    height: 28px;
    margin-right: 103px;
  }
}
.black {
  background-color: black;
  width: 36px;
  height: 6px;
  margin-bottom: 7px;
}
@media (min-width: 769px) {
  .black {
    display: none;
  }
}
.menu-info {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}

.contain {
  height: 530px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: url("./puntitos.svg");
}

@media (min-width: 769px) {
  .contain {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    align-items: flex-start;
  }
}
.title {
  width: 291px;
}
@media (min-width: 769px) {
  .title {
    margin: 115px 0 260px 0;
    width: 313px;
    margin-left: 80px;
  }
}
.titulo {
  font-family: "Open Sans";
  font-size: 48px;
  margin: 42px auto 58px;
}
@media (min-width: 769px) {
  .titulo {
    margin: 0;
  }
}
@media (min-width: 769px) {
  .div-foto {
    align-self: flex-end;
    margin-right: 84px;
    height: 395px;
  }
}
.photo {
  width: 318px;
  height: 300px;
}
@media (min-width: 769px) {
  .photo {
    width: 435px;
    height: 395px;
  }
}

.sec-dos {
  background-color: black;
  width: 100%;
  height: 483px;
  padding-top: 55px;
}
@media (min-width: 769px) {
  .sec-dos {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
}
.contain-block-black {
  display: flex;
  flex-direction: column;
}

@media (min-width: 769px) {
  .contain-block-black {
    flex-direction: row-reverse;
  }
}
@media (min-width: 769px) {
  .text-contain-black {
    margin-left: 90px;
  }
}

.present {
  text-align: center;
  margin: 0;
  color: white;
  font-family: "Open Sans";
  font-size: 32px;
  padding: 0;
}
@media (min-width: 769px) {
  .present {
    text-align: left;
  }
}

.parr {
  width: 312px;
  height: 100%;
  margin: 28px auto 0;
  color: white;
  font-family: "roboto";
  font-weight: 400;
  font-size: 16px;
  box-sizing: content-box;
}

@media (min-width: 769px) {
  .parr {
    width: 532px;
    height: 165px;
    font-size: 24px;
    line-height: 28px;
    overflow: hidden;
  }
}
.parrafo {
  margin: 0;
}
.check {
  margin: 57px auto 60px;
}
@media (min-width: 769px) {
  .check {
    margin: 0;
    align-self: center;
  }
}
@media (min-width: 769px) {
  .check-img {
    width: 211px;
    height: 211px;
  }
}
.sec-tres {
  width: 100%;
  height: 1375px;
  margin: 0;
  padding: 0;
}
@media (min-width: 769px) {
  .sec-tres {
    height: 604px;
    display: flex;
    flex-direction: column;
  }
}

.imagen-pc {
  width: 138px;
  height: 128px;
}
.contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 769px) {
  .contenido {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
.contain-dos {
  width: 262px;
  height: 312px;
  text-align: center;
  margin-bottom: 109px;
}
@media (min-width: 769px) {
  .contain-dos {
    margin: 0;
  }
}
.content-text {
  width: 2;
}
.servicios {
  text-align: center;
  margin: 0;
  font-family: "Open Sans";
  font-size: 32px;

  margin: 58px auto 75px;
}

.subtitulo {
  margin: 19px auto 15px;
  font-family: "roboto";
  font-size: 24px;
}

.p {
  width: 262px;
  height: 117px;
  text-align: center;
  font-family: "roboto";
  font-size: 16px;
}

.sec-cuatro {
  background-color: black;
  width: 100%;
  height: 590px;
  padding-top: 70px;
}

@media (min-width: 769px) {
  .sec-cuatro {
    height: 660px;
    display: flex;
    justify-content: center;
    padding: 0;
    align-items: center;
  }
}

@media (min-width: 769px) {
  .div-todos {
    display: flex;
    justify-content: center;
  }
}

.formu {
  color: white;

  margin: 27px 0 9px 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
}

@media (min-width: 769px) {
  .formu {
    margin: 0 0 9px 0;
  }
}

.escribeme {
  color: white;
  text-align: center;
  margin: 0;
  font-family: "Open Sans";
  font-size: 32px;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 10px 20px 70px;
}
@media (min-width: 769px) {
  .form {
    margin: 0 0 0 77px;
  }
}

.input-text {
  width: 100%;
  height: 45px;
  border: 3px solid #2c2c2c;
  box-sizing: border-box;
  border-radius: 4px;
}
@media (min-width: 769px) {
  .input-text {
    width: 376px;
    margin-bottom: 27px;
  }
}

#textarea {
  width: 100%;
  height: 113px;
  border: 3px solid #2c2c2c;
  box-sizing: border-box;
  border-radius: 4px;
}

.boton-enviar {
  width: 100%;
  height: 45px;
  background-color: #ffd953;
  margin-top: 60px;
  border-radius: 4px;
}

.footer {
  background-color: #c4c4c4;
  height: 493px;
}

@media (min-width: 769px) {
  .footer {
    height: 346px;
    background-image: url(./puntitos.svg);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.footer-primario {
  padding: 53px 0 0 16px;
}

@media (min-width: 769px) {
  .footer-primario {
    padding: 0;
    margin: 0 0 60px 80px;
  }
}

.logito {
  width: 110px;
  height: 100px;
}

@media (min-width: 769px) {
  .logito {
    width: 170px;
    height: 120px;
  }
}
.copy-write {
  margin-left: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
}

.footer-secundario {
  margin: 85px 0 0 25px;
}
@media (min-width: 769px) {
  .footer-secundario {
    margin: 0 215px 0 0;
  }
}
.link-uno {
  display: flex;
  align-items: center;
}

.link {
  margin: 29px 0;
}

.insta {
  margin-right: 6px;
}

.inst {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}
